@media (max-width: 767.98px ) {
    nav ul{
        display: none;
    }
    .number-div >:first-child{
        width: 100%;
    }
    .number{
        width: 10%;
    }
    .number +p{
        width: 90%;
    }
    .number-div >:nth-child(2){
        width: 0;
        display: none;
    }
    .number-div  > :nth-child(3){
        width: 0;
        display: none;
    }
    .dont-miss .first{
        flex-direction: column;
    }
    .dont-miss .left-side , .right-side, .big-card, .cards , .bot-cards .card , .big-img , .articles .left-side ,
    .articles .left-side .cards .img-div , .articles .left-side .cards .card-paragraph , footer .container>div , 
    footer .container>ul{
        width: 100%;
    }
    .big-card img{
        height: 300px;
    }
    .cards img{
        height: 139px;
    }
    .top-list +.d-flex , .cards , .two-cards , .dont-miss+ .d-flex , .articles, .articles .left-side .card,
    footer .container {
        flex-direction: column;
    }
    .today-pick img{
        width: 100%;
        height: 300px;
    }
    .big-img img{
        height: 300px;
    }
    .big-img .overlay{
        top: 12.2%;
        padding: 17.62%;
    }
    .articles .left-side .card img{
        width: 100%;
        height: 500px;
    }
    .articles .left-side .cards .card-paragraph{
        padding: 4%;
    }
    .load-btn{
        margin-left: 40%;
    }
    .articles .right-side .big-card{
        margin-bottom: 1%;
    }
    footer ul
    {
        margin: 12% 0;
    }
}