/* reset */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/* global style */
.container-width{
    width: 80%;
    margin: 0% auto;
}
.grey-text{
    color: rgb(155, 155, 155);
}
.white-text{
    color: white;
}
.orange-text{
    color :rgb(243, 113, 66)
}
.bg-section{
    color: grey;
}
.d-inline-block{
    display: inline-block;
}
.clear{
    clear: both;
}
.float-right{
    float: right;
}
.float-left{
    float:left;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.74);
    height: 100%;
    width: 100%;
    padding: 4.5% 0;
}
.button-style{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 3%;
}
input{
    border:0;
    outline: 0;
    border-bottom: 1px solid rgb(202, 202, 202);
    display: inline-block;
    width: 80%;
    margin: 0 10%;
    padding: 5%;
}
.center-text{
    text-align: center;
}
.dark-text{
    color: rgb(61, 61, 61);
}
.tab{
    display: block;
    padding: 25%;
    border: 0;
    color: white;
    font-size: 22px;
    border-radius: 2%;
}
.hr-style{
    width: 80px;
    margin: 4% 0;
    border: 1.5px solid rgb(243, 113, 66);
}
.orange-bg{
    background-color: rgb(243, 113, 66);
}
.grey-bg{
    background-color: rgb(61, 61, 61);
}
.light-bg{
    background-color: #F6F6F6;
}
.white-bg{
    background-color: white;
}
.img-style{
    width: 100%;
    box-shadow: 0px 0px 20px 7px #b6b3b3;
}
.hr-center{
    margin-left: 45%;
}
.mid-margin{
    margin: 0 5%;
}
.head-card{
    text-align: center;
    padding: 5% 0;
}
/* custom style */
nav{
    background-color: black;
    color: white;
    padding: 1.5%;
}
nav ul{
    width: 50%;
}
nav li{
    display: inline-block;
    margin-left: 10%;
}
.bg-img hr{
    width: 13%;
}
.bg-img{
    background-image: url(../images/bg-sec1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card1{
    width: 40%;
}
.card1 h2{
    font-size: 100px;
    margin-top: 10%;
}
.card1 h3{
    font-size: 27px;
}
.card1 p{
    margin: 8% 0%;
}
.bg-img form{
    width: 35%;
    background-color: white;
    margin-top:12%;
}
form p{
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(211, 210, 210);
    padding: 4%;
    border-radius: 4%;
}
form button{
    width: 100%;
    padding: 5%;
    background-color: rgb(243, 113, 66);
    border: 0px;
    color: white;
    margin-top:10%
}
.container2{
    background-color: rgb(236, 233, 233);
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 2% 0;
}
.card2{
    width: 35%;
}
.social-media{
    width:55%;
    font-size: 32px;
}
.social-media i{
    margin-left: 7%;
}
.container3{
    padding: 7.5% 0;
}
.building-img{
    width: 35%;
    margin-left: 3%;   
}
.card-img{
    width: 100%;
    -webkit-box-reflect: below;
}
.tab-button{
    width: 20%;
}
.tab2{
    margin: 0.5% 0;
}
.tab-para{
    width: 35%;
    margin-right: 5%;
}
.tab-para button{
    padding: 5%;
    background-color: rgb(243, 113, 66);
    border: 0;
    border-radius: 2%;
    color: white;
}
.tab-para h3{
    font-size: 25px;
}
.tab-para p{
    font-size: 18px;
    margin: 15% 0;
}
.sub-list{
    padding: 2% 0;
    background-color: white;
}
.sub-img{
    width: 40%;
    padding: 15% 0;
}
.sub-para{
    width: 45%;
    padding: 12% 0;
    margin-left: 15%;
}
.sub-para h3{
    font-size: 25px;
}
.sub-para p{
    font-size: 13px;
}
.cloud i{
    color: rgb(243, 113, 66);
    font-size: 15px;
    border: 2px solid;
    border-radius: 50%;
    padding: 2%;
    margin-right: 4%;
    margin-top: 18%;
}
.cloud p{
    padding: 0 15%;
}.standard-sec{
    padding: 7% 0;
    padding-bottom: 11%;
}
.standard-para{
    width: 40%;
    margin-top: 10%;
}
.standard-pic{
    width: 40%;
    margin-left: 20%;
    margin-top: 7%;
}
.standard-pic img{
    height: 300px;
}
.awesome-sec{
    padding: 6% 0;
}
.awesome-icon{
    width: 30%;
}
.awesome-icon i{
    color: rgb(243, 113, 66);
    font-size: 15px;
    border: 2px solid;
    border-radius: 50%;
    padding: 7%;
    font-size: 25px;
    margin-top: 17%;
    margin-bottom: 8%;
}
.awesome-icon p{
    margin: 8% 0;
}
.price-form{
    width: 30%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.price-form label{
    display: block;
    width: 100%;
    border: 1px solid #b6b3b3;
    margin: 1px 0;
    border: none;
    padding: 5%;
}
.d-sign{
    font-size: 25px;
}
.first-digit{
    font-size: 50px;
}
.second-digit{
    font-size: 40px;
}
#empty-label1{
    padding: 1%;
    margin:0;
}
#empty-label2{
    padding: 1%;
    margin:0;
}
#dark-label1{
    margin-bottom: 0;
}
#dark-label2{
    margin-bottom: 0;
}
.basic{
    margin-top: 6%;
}
.text-card{
    width: 25%;
    padding: 1%;
    margin-left: 8%;
    margin-bottom: 0;
}
.reviews{
    padding: 5% 0;
}
.triangle {
    width: 20%;
    font-size: 30px;
    margin-top: 0;
    padding: 0;
    color: #b6b3b3;
    box-sizing: border-box;
}
.triangle1{
    margin-left: 10%;
}
.triangle2{
    margin-left: 13%;
}
.triangle3{
    margin-left: 13%;
}
.customer{
    width: 15%;
}
.customer img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.jeremy{
    margin-left: 9%;
    width: 7%;
}
.t-margin{
    margin-top: 1%;
}
.john{
    margin-left: 19%;
    width: 7%;
}
.susan{
    margin-left: 19%;
    width: 7%;
}
.stylish-sec{
    background-image: url(/images/stylish.jpg);
    background-size: 100% 100%;
}
.stylish-text{
    width: 100%;
    height: 100;
}
.stylish-text hr{
    border: 1.5px solid white;
    margin-left: 47%;
}
.stylish-text button{
    margin-top: 2%;
    padding: 1% 3%;
}
.contact-us{
    padding: 5%;
}
.user-data{
    width: 45%;
}
.user-data input{
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}
.message-area{
    width: 45%;
}
.message-area textarea{
    width: 100%;
    margin: 0 10%;
    padding: 5%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.contact-us button{
    padding: 1.5%;
    width: 18%;
    margin-left: 38%;
}
footer{
    background-color: black;
    padding: 2%;
}
footer .social-media{
    margin-right: 20%;
    font-size: 25px;
}
footer p{
    margin-top: 1%;
}